In [ ]:
# this is a comment

# KEYWORDS

keywords are reserved words that cannot be used as variable names, function names .

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

# Variables

Variables are containers for storing data values.

# Variable Names 
Rules:
1-A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).        
2-A variable name must start with a letter or the underscore character

In [ ]:
help(print)

In [2]:
a = 5
print(a)

5

In [2]:
# variables
a = 5
b = 6
c,d,e = 2,4,6
m=n=1
print("This is a :",a,type(a))
print("This is b :",b,type(b))
print()

print("This is c :",c,id(c))
print("This is d :",d,id(d))
print()
print("This is m :",m,id(m))
print("This is n :",n,id(n))

This is a : 5 <class 'int'>
This is b : 6 <class 'int'>

This is c : 2 2049338403152
This is d : 4 2049338403216

This is m : 1 2049338403120
This is n : 1 2049338403120

In [5]:
t = (1,2,3)# Packing of variables
print("This is t :",t,id(t))
a,b,c = t  # Unpacking of variables
print("This is a :",a,id(a))
print("This is b :",b,id(b))
print("This is c :",c,id(c))

This is t : (1, 2, 3) 2049413119040
This is a : 1 2049338403120
This is b : 2 2049338403152
This is c : 3 2049338403184

# Operators in Python

Operators are used to perform operations on variables and values.

###  Types of operators:

* 1-Arithmetic operators
* 2-Assignment operators
* 3-Comparison operators
* 4-Logical operators
* 5-Identity operators
* 6-Membership operators

# Arithmetic Operator
+, -, , /, %(Modulus -> Remainder), //(Floor DIvision -> Quotient), *(Exponent)

In [9]:
# Arithmetic Operator
print("This is simple Addition:    ",2+2)
print("This is simple Substraction:",4-3)
print("This is Multiplication :    ",3*2)
print("This is simple Division:   ",9/5)
print("This is floor Division:     ",9//5)
print("This is Remainder :         ",6%5)
print("This is suuare :            ",2**2)
print("This is qube :              ",3**3)

This is simple Addition:     4
This is simple Substraction: 1
This is Multiplication :     6
This is simple Division:    1.8
This is floor Division:      1
This is Remainder :          1
This is suuare :             4
This is qube :               27

In [ ]:
#square
print(3**2)
#qube
3**3

In [ ]:
3*3

In [ ]:
2**3
#2*2*2

In [ ]:
#Modulus and Floor Division

print(7%2)
print(7/2)
print(7//2)

# Assignment Operator
=, +=, -=, * =, /=, %=, //=, **=

In [16]:
a,b,c,d,e,f,g = 2,3,4,5,5,5,2
a += 3 # a=a+3
print("This is a :",a)
b -= 3 # b=b-3
print("This is b :",b)
c *= 3 # c=c*3
print("This is c :",c)
d /= 3 # d=d/3
print("This is d :",d)
e //= 3 # e=e//3
print("This is e :",e)
f %= 3 # f=f%3
print("This is f :",f)
g **= 3 # g=g%3
print("This is g :",g)

This is a : 5
This is b : 0
This is c : 12
This is d : 1.6666666666666667
This is e : 1
This is f : 2
This is g : 8

In [2]:
# a = 5
a+=3
a
#task(-=, * =, /=, %=, //=, **=)

9

# Comparison Operator ( Compares values )
Returns True/ False

==, !=, >, >=, <, <=

In [ ]:
a = 5
b = 5
c=4
print(a == b)
print(c==a)

In [21]:
a ,b,c= 10,20,30
print(c == a+b)
print(a != b)
print(c < a+b)
print(c>=a+b)

True
True
False
True

# Logical Operators
and, or, not

In [1]:
a,b,c,d = 10,20,30,40
print(a+b == c and c>d)
print(a+b == c or c>d)
print(not (a+b == c and c>d))

False
True
True

# Mutable and Immutable Objects :
A mutable object is one whose value may change in place, whereas in an immutable variable change of value will not happen in place. Modifying an immutable variable will rebuild the same variable.

# Identity Operator (Checks id/address value)
is, is not

In [7]:
a = 5
b = 5
c = 7
print(id(a),id(b),id(c))
print(id(5),id(7))
print(a is b)
print(a is c)
print(a is not b)
print(a is not c)
#or
print(id(a) == id(b))

1930245597616 1930245597616 1930245597680
1930245597616 1930245597680
True
False
False
True
True

In [ ]:
a = 5
b = 5
c = 7
print(a,b)
print(id(a),id(b),id(c))

print(a == b)
print(a == c)
print(a is b)
print(id(a) == id(b))

In [ ]:
a = 5
b = 6

print(a,b)
print(id(a),id(b))

print(a == b)
print(a is b)

In [ ]:
# List is Mutable
a = [1,2,3]
b = [1,2,3]

print(a,b)
print(id(a),id(b))

print(a == b)
print(a is b)

# Membership Operator
in, not in

In [8]:
a = 'PYTHON'
print('P' in a)
print('p' in a)
print('PYT' in a)
print ('PTO' in a)
print('X' not in a)

True
False
True
False
True

In [ ]:
x = 'Hello prem'
print('ell' in x)#T
print('op' in x)#F
print('er' in x)#F
print('op' not in x)#T
print(' ' in x)#T
print(' ' not in x)#F