In [2]:
d = "09-04-2021"
# op = "2021-04-09"
l=d.split('-')
print(l)
l=l[::-1]
print(l)
op='-'.join(l)
op

['09', '04', '2021']
['2021', '04', '09']

'2021-04-09'

In [ ]:
a = '₹1,54,990₹1,64,9906% off'

# Required value_1 : 154990
# Required value_2 : 1649906
# Required value_3 : 1549901649906

In [1]:
a = '₹1,54,990₹1,64,9906% off'
# Required value_1 : 154990
b = a.split('₹')
print(b)
c = b[1]
print(c)
d = c.split(',')
print(d)
e = ''.join(d)
print(e)

['', '1,54,990', '1,64,9906% off']
1,54,990
['1', '54', '990']
154990

In [ ]:
b = ''.join(a.split('₹')[1].split(','))
print(b)

In [3]:
s="123"
print(s,type(s))
i=int(s)
print(i,type(i))

123 <class 'str'>
123 <class 'int'>

In [4]:
s="1_2_3"
print(s,type(s))
i=int(s)
print(i,type(i))

1_2_3 <class 'str'>
123 <class 'int'>

In [7]:
b=a.replace('₹','_')
c=b.replace(',','_')
print(c)
print(c.index('%'))
e=int(c[1:19])
e

_1_54_990_1_64_9906% off
19

1549901649906

In [5]:
# Required value_1 : 154990
a = '₹1,54,990₹1,64,9906% off'
a.index('0')
b=a[1:9]
print(b)
c = b.split(',')
print(c)
d=''.join(c)
d

1,54,990
['1', '54', '990']

'154990'

In [ ]:
x= ''.join(a[1:9].split(','))
x

In [6]:
# Required value_1 : 154990
a = '₹1,54,990₹1,64,9906% off'
b=a.split('%')
print(b)
c=b[0].split('₹')
print(c)
d=c[1]+c[2]
d

['₹1,54,990₹1,64,9906', ' off']
['', '1,54,990', '1,64,9906']

'1,54,9901,64,9906'

## List (Mutable)

* Denoted by [ ] and items are separated using a ,
* Concatenation
* Indexing,Slicing
* Methods
* a =[ ] -> Empty List

In [ ]:
a = []
# Notice how the type is class list, as everything is an object in Python
print(a,type(a),len(a))

In [ ]:
# Homogenous data -> Same type
a = [10,20,30,40]
print(a)
# Heterogenous Data -> Multiple types
b = [10,10.45,"HELLO",[1,2,3]]
print(b)

In [ ]:
# Concatenation
# It change sthe address(id) value as it reinitializes the varible
a = [1,2,3]
b = [4,5,6]
print(a,b)
print(id(a),id(b))
c = a+b
print(c,id(c))
# print(id(a) is id(b))

## Indexing and Slicing

* It works the same way it worked on strings

In [ ]:
a = [10,20,30,40,50,60]

print(a[2])
print(a[-3])

print(a[2:5])
print(a[1:5:2])
print()
print(a[::-1])

In [ ]:
a = [10,["PYthon","RT"],"HELLO",[1,2,3]] 
print(a,len(a))

print(a[0])
print(a[1])
print(a[2])
print(a[3])

print(a[1][0][0])
print(a[1][1][-1])
print(a[2][1])

In [ ]:
a = [10,20,30,40,50,60]
print(a)
a[1] =70
a

## List Methods

In [ ]:
#dir(str)

In [ ]:
dir(list)

In [ ]:
help(list)

In [ ]:
help(list.append)

In [ ]:
a = [10,20,30]
print(a,id(a))
# Append method adds items to end of the list
a.append(40)
print(a,id(a))

a.append([1,2,3])
print(a)
a.append('HELLO')
print(a,id(a))

In [ ]:
a.append([3,4,5,])
a

In [ ]:
a = [10,40,50,40]
b = a.count(40)
print(b)
b = a.index(40)
print(b)

In [ ]:
a = [1,2,3,4,5]
print(a.pop())
print(a.pop())

In [ ]:
a = [10,40,50,40]
print(a.pop())#
print(a.pop())#
print(a.pop())#
print(a.pop())#
print(a)

In [ ]:
a = [10,40,50,40]
b=[]
print(b)
b.append(a.pop())
b.append(a.pop())
b.append(a.pop())
b.append(a.pop())
b

In [ ]:
a = [10,40,50,40]
# del a[index]
del a[2]

a

In [ ]:
a = [10,40,50,40]
del a[1:3]

a

In [ ]:
a = [10,40,50,40,2,4,5,67,77,88,99,90]
del a[1::2]

a

In [ ]:
a = [10,40,50,40]
print(a.pop(1))
a

In [ ]:

a = [10,40,50,40,66,77,88]
del a[::2]
print(a)

In [ ]:
#a.remove(value)
a = [10,40,50,40]
a.remove(50)
print(a)

In [ ]:
a = [10,40,50,40]
# op = [10,50] using dell method
del a[1::2]
print(a)

In [ ]:
a = [10,40,50,40]
a.remove(40)
print(a)

In [ ]:
a = [10,40,50,40]
a.clear()
print(a)

In [ ]:
a = [10,40,50,40]
# Remove method deltes the values passed as an argument
# It value does not exist an error is displayed
a.remove(40)
print(a)
# Pop method removes the item at particular index; by default last
b = a.pop()
print(a,b)
b = a.pop(1)
print(a,b)
#  Clear deletes the entire list and gives us an empty list
a.clear()
print(a,id(a))

In [ ]:
a = [10,20,30]
# Insert method ads item to the index position mentioned.
# insert(index,value)
a.insert(1,40)
print(a)

In [ ]:
a = [1,2,3]
b = [4,5,6]
print(a,b,id(a))
c = a+b
print(c,id(c))

In [ ]:
# Extend method concatenates without changing the orginal address
a = [1,2,3]
b = [4,5,6]
print(id(a),id(b))
a.extend(b)#[1,2,3,4,5,6]
print(a,id(a))

b.extend(a)#[3,4,5,6,1,2,3,4,5,6]
print(b,id(b))

In [ ]:
a = [1,2,3]
b = [4,5,6]
#[1,2,3,6,5,4]
print(id(a),id(b))
a.extend(b[::-1])
print(a,id(a))

In [ ]:
a = [25, 28, 15, 13, 21, 6]
print(a,id(a))
b = a[::-1]
print(b,id(b))

In [ ]:
help(list.reverse)

In [ ]:
a = [25, 28, 15, 13, 21, 6]
#print(a,id(a))
a.reverse()# or a[::-1]
print(a)
a.reverse()# or a[::-1]
print(a)

In [ ]:
help(list.sort)

In [ ]:
a = [25, 28, 15, 13, 21, 6]
print(a,id(a))
a.sort()
print(a,id(a))

a.reverse()
print(a,id(a))

# To get sorting order in descending order
a.sort(reverse=True)

# print(a,id(a))

In [ ]:
a = [25, 28, 15, 13, 21, 6]
print(sorted(a))
print(a)

In [ ]:
a = ['ze','bcdefg','axe','abcd','defgi']
print(a)
#Sorting alphabetically
a.sort()
print(a)
# Key argument is used to customize the sort order
# We are now sorting using length of the items
a.sort(key=len)
print(a)
a.sort(key=len, reverse=True)
print(a)

In [ ]:
a = [10,40,50,40]
print(a,id(a))
b=a[:]
print(b,id(b))
b.append('s')
print(a)
print(b)

In [ ]:
#imp
a = [10,40,50,40]
b=a
print(a,id(a))
print(b,id(b))
b.append('d')
print(b)
print(a)

## Shallow Copy

This is required so that we can create a copy of the original list and do not modify it using another variable.

Example :

In [ ]:
a = [10,20,30]
b = a # b is a reference to a
print(a,b)
print(id(a),id(b))
print(a == b)
print(a is b)
b[0] = 55
# You can see that both list a and b gets modified
print(a,b)

In [ ]:
a = [10,20,30]
b = a.copy() # b is a shallow copy of a or a[:]
print(a,b)
print(id(a),id(b))
print(a == b)
print(a is b)
b[0] = 50
# Only list b gets modified
print(a,b)

In [ ]:
a = [10,20,30]
b=a
b[0] = 50
print(a,b)

### Tuples (Immutable Lists)

* Denoted by ( ) and items are separated using a ,
* Concatenation
* Indexing, SLicing
* Methods -> Count, Index
* Genrally faster than lists

In [ ]:
a = (10,20,30)
print(a,type(a))
# Below statement will give an error as tuples are immutable
a[0] = 40

In [ ]:
dir(tuple)

In [ ]:
a = [10,20,30,40,50,60]
print(a,type(a))
a = tuple(a)
print(a,type(a))

In [ ]:
a = (10, 20, 30, 40, 50, 60)
print(a[0])
print(a[2:6])

In [2]:
a = (1,2,3)
b = (4,5,6)
print(a,b,id(a))
c = a+b
print(c,id(c))

(1, 2, 3) (4, 5, 6) 2435818912128
(1, 2, 3, 4, 5, 6) 2435818540384

# Typecasting

Changing from one type to another

In [4]:
a = 123
print(a,type(a))
a = float(a)
print(a,type(a))

123 <class 'int'>
123.0 <class 'float'>

In [3]:
a = 123.45
print(a,type(a))
a = int(a)
print(a,type(a))

123.45 <class 'float'>
123 <class 'int'>

In [7]:
a = '12345'
print(a,type(a))
a = int(a)
print(a,type(a))

12345 <class 'str'>
12345 <class 'int'>

In [8]:
a = '12345AB'
print(a,type(a))
a = int(a)
print(a,type(a))

12345AB <class 'str'>

ValueError: invalid literal for int() with base 10: '12345AB'

In [9]:
a = '1_2_3_4'
print(a,type(a))
a = int(a)
print(a,type(a))

1_2_3_4 <class 'str'>
1234 <class 'int'>

In [ ]:
a = '123.45'
print(a,type(a))
a = float(a)
print(a,type(a))
a = int(a)
print(a,type(a))

In [11]:
#Exception
l=[1,2,3]#
l.append(l)
print(l)

[1, 2, 3, [...]]

In [10]:
l=[1,2,3]
print(l.append(l))

[1, 2, 3, [...]]

In [23]:
# Exception
a = 'PYTHON' # op=['P', 'Y', 'T', 'H', 'O', 'N']
print(a,type(a))
a = list(a)#
print(a,type(a))
a = ''.join(a)
print(a,type(a))

PYTHON <class 'str'>
['P', 'Y', 'T', 'H', 'O', 'N'] <class 'list'>
P Y T H O N <class 'str'>

In [18]:
a = 'PYTHON'
print(a.split(' '))

['PYTHON']

In [19]:
a = 'P Y T H O N'
print(a.split(' '))

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
a=5678
#8765
a=str(a)
a
b=a[::-1]
b
c=int(b)
c

In [ ]:
a = 12345
b=str(a)
b[::-1]
c=int(b)
c
d=int(str(a)[::-1])
print(d)

In [ ]:
a = 12345
r=int(str(a)[::-1])
r

In [ ]:
# Reversing an integer using Typecasting
a = 12345
print(a,type(a))
a = str(a)
print(a,type(a))
a = a[::-1]
print(a,type(a))
a = int(a)
print(a,type(a))
c=int(str(a)[::-1])
print(c)
b = 12345
b = int(str(b)[::-1])
print(b,type(b))

In [ ]:
a=12345
a = str(12345)
b=list(a)
b

# Taking an User input
Syntax
input("Optional Statement")

BY defualt it returns a string object

In [27]:
a = input("Enter something : ")
print(a,type(a))

sdafsa122334
sdafsa122334 <class 'str'>

In [26]:
a = int(input("Enter a number :: "))
print(a,type(a))

Enter a number :: 45654653463
45654653463 <class 'int'>

### taking-multiple-inputs-from-user-in-python

In [1]:
# taking two inputs at a time
boys, girls = input("Enter two values: ").split()
print("Number of boys: ", boys)
print("Number of girls: ", girls)
print()
 
# taking three inputs at a time
total, boys, girls = input("Enter three values: ").split()
print("Total number of students: ", total)
print("Number of boys is : ", boys)
print("Number of girls is : ", girls)
print()
 
# taking two inputs at a time
a, b = input("Enter two values: ").split()
print("First number is {} and second number is {}".format(a, b))
print()
 
# taking multiple inputs at a time
# and type casting using list() function
x = list(map(int, input("Enter multiple values: ").split()))
print("List of students: ", x)

Enter two values: 4 5
Number of boys:  4
Number of girls:  5

Enter three values: 44 40 3
Total number of students:  44
Number of boys is :  40
Number of girls is :  3

Enter two values: 3 5
First number is 3 and second number is 5

Enter multiple values: 2 3 4 5
List of students:  [2, 3, 4, 5]

#####